$font-family: "Inter";
$background:  #101010;
$foreground:  #ffffff;
$primary:     #0c5eeb;
$destructive: #df1433;
$border-radius: 3px;
$border-width: 0.1em;
$ease-out-quart: 0.2s cubic-bezier(0.25, 1, 0.5, 1);
$shadow-normal: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 8px rgba(0, 0, 0, 0.1);
$size-0:   8px;
$size-1:  16px;
$size-2:  32px;
$size-3:  64px;

@function foreground($amount: 0%) {
  @return mix($background, $foreground, $amount);
}

@function background($amount: 0%) {
  @return lighten($background, $amount);
}

.row { display: flex }
.column { display: flex; flex-direction: column }
.vert-center { align-items: center }
.horiz-center { justify-content: center }
.vert-expand { height: 100% }
.horiz-expand { width: 100% }
.grow { flex-grow: 1 }
.expand > * { flex-grow: 1 }
.mar-right-auto { margin-right: auto }
.mar-left-auto { margin-left: auto }
.mar-top-auto { margin-top: auto }
.mar-bottom-auto { margin-bottom: auto }
.mar-0 { margin:  $size-0 }
.mar-1 { margin:  $size-1 }
.mar-2 { margin:  $size-2 }
.mar-3 { margin:  $size-3 }
.pad-0 { padding: $size-0 }
.pad-1 { padding: $size-1 }
.pad-2 { padding: $size-2 }
.pad-3 { padding: $size-3 }
.gap-0 { gap:     $size-0 }
.gap-1 { gap:     $size-1 }
.gap-2 { gap:     $size-2 }
.gap-3 { gap:     $size-3 }
.large { font-size: 24px }
.medium { font-size: 16px }
.small { font-size: 10px }
.bold { font-weight: bold }
.italic { font-style: italic }
.fg-faint { color: foreground(50%) }
.bg-1 { background-color: background(5%) }
.round { border-radius: 999px }
a { color: $primary }

* {
  color: $foreground;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font: normal normal normal 12px $font-family;
}

html {
  background: $background;
  height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

input {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background: none;
}

input {
  width: 100%;
}

.input {
  background: background(2%);
  border: $border-width solid background(8%);
  border-radius: $border-radius;
  padding: $size-0;
  gap: $size-0;
  transition: all $ease-out-quart;
  // box-shadow: inset 0px -16px 16px 0px rgba(255, 255, 255, 0.02);

  &:hover {
    border-color: $primary;
  }

  &:focus, &:focus-within {
    border-color: $primary;
    outline: ($border-width * 4) solid transparentize($primary, 0.8);
  }

  &.error {
    border: $border-width solid $destructive;

    &:focus, &:focus-within {
      outline: ($border-width * 4) solid transparentize($destructive, 0.8);
    }
  }
}

@mixin button($background) {
  @extend .row;
  $border: darken($background, 8%);
  transition: all $ease-out-quart;
  background: $background;
  // border: $border-width solid $border;
  border-radius: $border-radius;
  padding: $size-0;
  gap: $size-1;
  // box-shadow: inset 0px 16px 32px 0px rgba(255, 255, 255, 0.1);

  &:hover {
    background: darken($background, 8%);
  }

  &:active, &:disabled {
    background: darken($background, 16%);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus:not(:disabled) {
    outline: ($border-width * 4) solid transparentize($border, 0.8);
  }

  &.toggled {
    background: darken($background, 16%);

    &:hover {
      background: darken($background, 24%);
    }

    &:active, &:disabled {
      background: darken($background, 32%);
    }
  }

  &.medium {
    padding: $size-0* 1.5;
  }
}

.button {
  display: flex;
  $background: background(12%);
  $border: lighten($background, 16%);
  transition: all $ease-out-quart;
  background: $background;
  // border: $border-width solid $border;
  border-radius: $border-radius;
  padding: $size-0;
  gap: $size-1;

  &:hover {
    background: lighten($background, 4%);
  }

  &:active, &:disabled {
    background: darken($background, 8%);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus:not(:disabled) {
    outline: ($border-width * 4) solid transparentize($border, 0.9);
  }

  &.toggled {
    background: darken($background, 8%);

    &:hover {
      background: darken($background, 12%);
    }

    &:active, &:disabled {
      background: darken($background, 16%);
    }
  }
}

.button-clear {
  @extend .small;

  &:hover {
    color: $primary;
  }
}

.button-primary { @include button($primary) }
.button-destructive { @include button($destructive) }

.header-bar {
  background: background(4%);
  // border-bottom: $border-width solid background(12%);
}

.clear-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $size-0;
  border-radius: $border-radius;
  border: $border-width solid transparent;

  &:hover {
    background: background(8%);
  }

  &:active {
    border-color: background(16%);
    background: background(12%);
  }
}

.dialog-container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  background: background();
  // border: $border-width solid background(4%);
  border-radius: $border-radius;
  box-shadow: $shadow-normal;
}

@mixin tooltip($background) {
  display: none;
  position: absolute;
  left: 50%;
  margin-top: $size-0;
  transform: translateX(-50%);
  border-radius: $border-radius;
  background: $background;
  // border: $border-width solid darken($background, 8%);
  padding: $size-0 * 0.5 $size-0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .tooltip-container:hover &:not(.hidden),
  .tooltip-container:focus-within &:not(.hidden) {
    display: block;
  }
}

.tooltip-primary { @include tooltip($primary) }
.tooltip-destructive { @include tooltip($destructive) }

.popover {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.menu {
  background: background(8%);
  // border: $border-width solid background(12%);
  border-radius: $border-radius;
  box-shadow: $shadow-normal;
  padding: $size-0 0px;
}

.surface {
  background: background(4%);
  // border: $border-width solid background(12%);
  border-radius: $border-radius;
  box-shadow: $shadow-normal;
}

.menu-button {
  text-align: left;
  padding: $size-0 $size-1;

  &:hover {
    background: $primary;
  }
}

.TagPicker__tag {
  background: background(0%);
  // border: $border-width solid background(12%);
  border-radius: $border-radius;
  box-shadow: $shadow-normal;
}

.ForYou {
  background: $primary;
  border-radius: $border-radius;
  box-shadow: $shadow-normal;
}

.icon * {
  stroke: $foreground !important;
}

@keyframes scale-in {
  0% {
    scale: 0;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.scale-in {
  animation: 0.1s linear scale-in;
}

@keyframes scale-out {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0;
    opacity: 0;
  }
}

.scale-out {
  animation: 0.1s linear scale-out;
}
